<div class="max-w-sm mx-auto">
<label for="searchterm" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
<input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
[(ngModel)] ="searchterm">
<p>search term</p><br>
</label>

<label for="cuisineType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
<input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
[(ngModel)] ="cuisineType">
<p>cuisine type</p><br>
</label>

<label for="mealType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
<input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
[(ngModel)] ="mealType">
<p>meal type</p><br>
</label>

<label for="dishType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
<input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
[(ngModel)] ="dishType">
<p>dish type</p> <br>
</label>
<button (click)="searchRecipe()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get Recipes</button>
</div>
<br>
<section class="max-w-sm mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-700">
@for(recipe of recipes; track recipe){
<article class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
    <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{recipe.label}}</h3>
    <img src="{{recipe.image}}" width="200"/>
    <p>time to cook: {{recipe.totalTime}}min</p><br>
    <p>Ingredients: {{recipe.ingredientLines}}</p><br>
    <h4><a class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        [routerLink]="['/recipe', recipe.selfref | recipeidformatter]">
        Read more</a>
    </h4>
</article>
<br>
<hr>
<br>
} @empty {<p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">there are no recipes...</p>}
</section>