<p>register works!</p>
<div class="register-form">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label for="name">First name:
    <br>
      <input
  type="text"
    formControlName="name"
    class="form-control"><br>
  </label><br>


    <label for="email">email:
      <br>
      <input         
    type="text"
    formControlName="email"
    class="form-control"> 
    <br>
    </label><br>
    
    
    <label for="password">password:
      <br>
 <input         
    type="text"
    formControlName="password"
    class="form-control"><br>
    </label><br>
   

    <label for="password_confirmation">Confirm password:
      <br>
   <input         
    type="text"
    formControlName="password_confirmation"
    class="form-control">
    </label><br>
 

    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!registerForm.valid">Submit</button>
    <p>Form Status: {{ registerForm.status }}</p>
  </form>
</div>